.leaf-green {
	background-color: #5D7909;
}

.jfp-hide {
	display: none !important;
}

.back {
	cursor: pointer;
}

.header .navbar-inner {
	background-color: #336601 !important;
	height: 78px !important;
}

.fixed-top .page-container {
	margin-top: 78px !important;
}

.page-sidebar .sidebar-search input {
	background-color: #5D7909 !important;
	color: #fff !important;
}

.white {
	color: #fff !important;
}

.header .nav li.dropdown .dropdown-toggle i {
	color: #fff !important;
}

.footer .go-top {
	width: 18px;
	float: right;
}

.remove_row {
	cursor: pointer;
}

.footer {
	text-align: center;
	color: #fff !important;
	background-color: #336601;
}

.jfp_txt_center {
	text-align: center !important;
}

.marg_top_20 {
	margin-top: 20px;
}

.marg_top_40 {
	margin-top: 40px;
}

.jfp_red {
	color: red;
}

.jfp_green {
	color: green;
}

.jfp_bold {
	font-weight: bold;
}
.jfp_overflow_x {
	overflow-x: scroll;
}


/*10312015*/
.jfp_center {
	text-align: center;
}

.jfp_div_border {
	border: 2px solid #848484;
    padding: 10px;
}

.ongoing_purchase {
	background-color: #fcb322;
	color: #ffffff;
	padding: 0 5px 2px 5px;
}

.closed_purchase {	
	background-color: #3cc051;;
	color: #ffffff;
	padding: 0 5px;
}

.status_blue {
	background-color: #0101DF;
}

.status_green {
	background-color: #088A08;
}

.status_pink {
	background-color: #F813C3;
}

.status_light_blue {
	background-color: #0CA199;
}

.status_red {
	background-color: #F40116;
}

/*10312015 end*/


.jfp_align_text {
	padding-top: 6px;
}

.jfp_align_right {
	text-align: right !important;
}

.marg-bottom10 {
	margin-bottom: 10px;
}

.jfp_color_white {
	color: #ffffff;
}

.jfp_txt_left {
	float: left;
}

.jfp_txt_right {
	float: right;
}

.w_amt {
	width: 195px;
}

.marg_left_4 {
	margin-left: 4px;
}

.marg_top_6 {
	margin-top: 6px;
}

.red {
	color: red;
}

.asset_view_label {
	margin-top: 6px;
    font-size: 14px;
}

.thead_style {
	background-color: #376792;
    color: #fff;
}

.parent_title_head {
	background-color: #D3D6D2;
    color: #000;
}

.child_title_style {
	background-color: #5D7909;
    color: #fff;
}

.total_style {
	color: #000;
    font-weight: bold;
}
    
.table_container {
	width:100%; 
	height:100%;
}

.table_style {
	margin: 0 auto; 
	width: 90%;
}
    
.pad_left_27 {
	padding-left: 27px;
}

.as_of {
	font-size: 14px;
    margin: 0 10px 0 30px;
}

.and {
	font-size: 14px;
    margin: 0 10px 0 10px;
}

.filter_cont {
	padding: 10px 0 25px 20px;
}

.as_of_go {
	padding: 4px 10px;
    margin-bottom: 10px;
}