.leaf-green {
	background-color: #5D7909;
}

.back {
	cursor: pointer;
}


/*10312015*/
.jfp_center {
	text-align: center;
}

.jfp_div_border {
	border: 2px solid #848484;
    padding: 10px;
}

.ongoing_purchase {
	background-color: #fcb322;
	color: #ffffff;
	padding: 0 5px 2px 5px;
}

.closed_purchase {	
	background-color: #3cc051;;
	color: #ffffff;
	padding: 0 5px;
}

.status_blue {
	background-color: #0101DF;
}

.status_green {
	background-color: #088A08;
}

.status_pink {
	background-color: #F813C3;
}

.status_light_blue {
	background-color: #0CA199;
}

.status_red {
	background-color: #F40116;
}

.jfp_bold {
	font-weight: bold;
}

.jfp_align_text {
	padding-top: 6px;
}